.bannerCategoria > .containerCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    box-sizing: border-box;
}

.bannerCategoria-img{
    width: 100%;
    height: auto;
    padding: 0 30px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

@media (min-width: 769px){

.bannerCategoria > .containerCenter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bannerCategoria-img{
    width:100%;
    height: auto;
}

}

.bannerCategoriaGifs > .containerCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.bannerCategoriaGifs-img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;

}

@media (min-width: 769px){

    .bannerCategoriaGifs > .containerCenter{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
        box-sizing: border-box;
    }

    .bannerCategoriaGifs-img{
        width: 100%;
        height: auto;
        padding: 0 5px;
        box-sizing: border-box;
    }
}